/* Reset */

html,
body {
  padding: 0;
  margin: 0;
}

html {
  font-family:
    -apple-system,
    blinkmacsystemfont,
    segoe ui,
    roboto,
    oxygen-sans,
    ubuntu,
    cantarell,
    helvetica neue,
    sans-serif;
}

p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

button {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  text-shadow: inherit;
  background: none;
  box-shadow: none;
  border: none;
  padding: 0;
  cursor: pointer;
}


/* Vars */

:root {
  --red: #d06060;
  --yellow: #f0bd62;
  --green: #6ead54;
  --blue: #5eb3e2;
  --purple: #8d75cd;

  --board-gap: 1rem;
  --piece-size: 5rem;
}


/* UI */

html {
  background: #333;
  color: #eee;
}


/* Game */

.gameContainer {
  margin: 0 auto;
  max-width: 40rem;
}

.gamePiece {
  cursor: pointer;
  touch-action: none;
  transition: transform 200ms;
  transition-timing-function: ease-out;
}
.gamePiece:hover {
  transform: scale(110%);
}
.gamePiece.-red circle {
  fill: var(--red);
}
.gamePiece.-yellow circle {
  fill: var(--yellow);
}
.gamePiece.-green circle {
  fill: var(--green);
}
.gamePiece.-blue circle {
  fill: var(--blue);
}
.gamePiece.-purple circle {
  fill: var(--purple);
}
.gamePiece text {
  fill: #3336;
  font-weight: bold;
  user-select: none;
  pointer-events: none;
}

.gamePiece.-removing {
  z-index: 10;
  pointer-events: none;
  animation: 500ms gamePieceRemoving;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}
@keyframes gamePieceRemoving {
  to {
    opacity: 0;
    filter: blur(0.05em);
    transform: scale(0.5);
  }
}

.gameScore {
  margin-left: 1rem;
  font-size: 2rem;
}

.gameOverScreen {
  position: absolute;
  inset: 0;
  display: grid;
  font-size: 2rem;
  background-color: #3339;
  place-items: center;
  backdrop-filter: grayscale(40%);
}
.gameOverScreen_text {
  user-select: none;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0.1em 0.05em #333;
  animation: 800ms gameOverScreen_textInsert;
  animation-fill-mode: both;
}
.gameOverScreen_title {
  font-size: 4rem;
}
.gameOverScreen button {
  transition: transform 200ms;
  transition-timing-function: ease-out;
}
.gameOverScreen button:hover {
  transform: scale(110%);
}

@keyframes gameOverScreen_textInsert {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
