/* Reset */

html,
body {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

button {
  background: none;
  box-shadow: none;
  border: none;
  padding: 0;
  cursor: pointer;
}


/* Vars */

:root {
  --red: #d1454c;
  --yellow: #dfb247;
  --green: #459358;
  --blue: #5caedc;
  --purple: #9f89ea;

  --board-gap: 1rem;
  --piece-size: 5rem;
}


/* UI */

html {
  background: #333;
  color: #eee;
}


/* Game */

.gameContainer {
  margin: var(--board-gap);
}
.gameContainer > :not(:last-child) {
  margin-bottom: var(--board-gap);
}

.gameBoard {
  gap: var(--board-gap);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gameBoard > * {
  gap: var(--board-gap);
  display: flex;
  flex-direction: row;
}

.gamePiece {
  touch-action: none;
  animation: 500ms gamePieceInsert;
  border-radius: 100%;
  width: var(--piece-size);
  height: var(--piece-size);
  transition: transform 200ms;
  transition-timing-function: ease-out;
}
.gamePiece:hover {
  transform: scale(110%);
}
.gamePiece.-red {
  background-color: var(--red);
}
.gamePiece.-yellow {
  background-color: var(--yellow);
}
.gamePiece.-green {
  background-color: var(--green);
}
.gamePiece.-blue {
  background-color: var(--blue);
}
.gamePiece.-purple {
  background-color: var(--purple);
}
.gamePiece.-removing {
  pointer-events: none;
  animation: 500ms gamePieceRemoving;
  animation-fill-mode: both;
}

@keyframes gamePieceInsert {
  from {
    opacity: 0.5;
    transform: scale(50%);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes gamePieceRemoving {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}

.gameScore {
  font-size: 2rem;
}

.gameOverScreen {
  position: absolute;
  inset: 0;
  display: grid;
  font-size: 2rem;
  background-color: #3333;
  place-items: center;
  animation: 800ms gameOverScreenInsert;
  animation-fill-mode: both;
}
.gameOverScreen_text {
  user-select: none;
  text-align: center;
  text-shadow: 0 0.1em 0.05em #333;
  animation: 800ms gameOverScreen_textInsert;
  animation-fill-mode: both;
}
.gameOverScreen_title {
  font-size: 4rem;
  font-weight: bold;
}

@keyframes gameOverScreenInsert {
  to {
    backdrop-filter: grayscale(60%);
  }
}

@keyframes gameOverScreen_textInsert {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
