/* Reset */

html,
body {
  padding: 0;
  margin: 0;
}

html {
  font-family:
    -apple-system,
    blinkmacsystemfont,
    segoe ui,
    roboto,
    oxygen-sans,
    ubuntu,
    cantarell,
    helvetica neue,
    sans-serif;
}

p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

button {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  text-shadow: inherit;
  background: none;
  box-shadow: none;
  border: none;
  padding: 0;
  cursor: pointer;
}


/* Vars */

:root {
  --red: #d06060;
  --yellow: #f0bd62;
  --green: #6ead54;
  --blue: #5eb3e2;
  --purple: #8d75cd;

  --board-gap: 1rem;
  --piece-size: 5rem;
}


/* UI */

html {
  background: #333;
  color: #eee;
}


/* Game */

.gameContainer {
  margin: var(--board-gap);
}
.gameContainer > :not(:last-child) {
  margin-bottom: var(--board-gap);
}

.gameBoard {
  gap: var(--board-gap);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gameBoard.-falling {
  position: absolute;
  inset: 0;
  opacity: 0.5;
  z-index: -1;
}
.gameBoard > * {
  gap: var(--board-gap);
  display: flex;
  flex-direction: row;
}

.gamePiece {
  border-radius: 100%;
  width: var(--piece-size);
  height: var(--piece-size);
  box-shadow:
    1rem 1rem 1rem #fff2 inset,
    -1rem -1rem 1rem #0002 inset;
  color: #3336;
  text-shadow: 1px 1px 1px #fff3;
  font-weight: bold;
  font-size: 2rem;
  user-select: none;
  touch-action: none;
  transition: transform 200ms;
  transition-timing-function: ease-out;
}
.gamePiece:hover {
  transform: scale(110%);
}
.gamePiece.-placeholder {
  pointer-events: none;
  opacity: 0;
}
.gamePiece.-red {
  background-color: var(--red);
}
.gamePiece.-yellow {
  background-color: var(--yellow);
}
.gamePiece.-green {
  background-color: var(--green);
}
.gamePiece.-blue {
  background-color: var(--blue);
}
.gamePiece.-purple {
  background-color: var(--purple);
}

.gamePiece.-removing {
  pointer-events: none;
  animation: 500ms gamePieceRemoving;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}
@keyframes gamePieceRemoving {
  to {
    opacity: 0.5;
    filter: blur(0.5rem);
    transform: scale(0);
  }
}

.gamePiece.-falling {
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
}
.gamePiece.-fallingFrom1 { animation-name: gamePieceFallingFrom1; }
@keyframes gamePieceFallingFrom1 {
  from {
    transform: translateY(calc(-1 * (var(--board-gap) + var(--piece-size))));
  }
  to { transform: none; }
}
.gamePiece.-fallingFrom2 { animation-name: gamePieceFallingFrom2; }
@keyframes gamePieceFallingFrom2 {
  from {
    transform: translateY(calc(-2 * (var(--board-gap) + var(--piece-size))));
  }
  to { transform: none; }
}
.gamePiece.-fallingFrom3 { animation-name: gamePieceFallingFrom3; }
@keyframes gamePieceFallingFrom3 {
  from {
    transform: translateY(calc(-3 * (var(--board-gap) + var(--piece-size))));
  }
  to { transform: none; }
}
.gamePiece.-fallingFrom4 { animation-name: gamePieceFallingFrom4; }
@keyframes gamePieceFallingFrom4 {
  from {
    transform: translateY(calc(-4 * (var(--board-gap) + var(--piece-size))));
  }
  to { transform: none; }
}
.gamePiece.-fallingFrom5 { animation-name: gamePieceFallingFrom5; }
@keyframes gamePieceFallingFrom5 {
  from {
    transform: translateY(calc(-5 * (var(--board-gap) + var(--piece-size))));
  }
  to { transform: none; }
}
.gamePiece.-fallingFrom6 { animation-name: gamePieceFallingFrom6; }
@keyframes gamePieceFallingFrom6 {
  from {
    transform: translateY(calc(-6 * (var(--board-gap) + var(--piece-size))));
  }
  to { transform: none; }
}
.gamePiece.-fallingFrom7 { animation-name: gamePieceFallingFrom7; }
@keyframes gamePieceFallingFrom7 {
  from {
    transform: translateY(calc(-7 * (var(--board-gap) + var(--piece-size))));
  }
  to { transform: none; }
}

.gameScore {
  font-size: 2rem;
}

.gameOverScreen {
  position: absolute;
  inset: 0;
  display: grid;
  font-size: 2rem;
  background-color: #3333;
  place-items: center;
  animation: 800ms gameOverScreenInsert;
  animation-fill-mode: both;
}
.gameOverScreen_text {
  user-select: none;
  text-align: center;
  text-shadow: 0 0.1em 0.05em #333;
  animation: 800ms gameOverScreen_textInsert;
  animation-fill-mode: both;
}
.gameOverScreen_title {
  font-size: 4rem;
  font-weight: bold;
}

@keyframes gameOverScreenInsert {
  to {
    backdrop-filter: grayscale(60%);
  }
}

@keyframes gameOverScreen_textInsert {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
